<div class="SlideItMoo_element">
    <a href="#slide1" target="_parent">
        <img src="images/gallery/01.jpg" alt="product 1" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide2" target="_parent">
        <img src="images/gallery/02.jpg" alt="product 2" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide3" target="_parent">
        <img src="images/gallery/03.jpg" alt="product 3" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide4" target="_parent">
        <img src="images/gallery/04.jpg" alt="product 4" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide5" target="_parent">
        <img src="images/gallery/05.jpg" alt="product 5" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide6" target="_parent">
        <img src="images/gallery/06.jpg" alt="product 6" />
    </a>
</div>
<div class="SlideItMoo_element">
    <a href="#slide6" target="_parent">
        <img src="images/gallery/07.jpg" alt="product 7" />
    </a>
</div>